/* General Styles */
.header-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #6c757d;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-icon {
  width: 30px;
  height: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-gray {
  background-color: #6c757d;
}

.bg-white {
  background-color: #fff !important;
}

.text-dark {
  color: #000 !important;
}

.dropdown-menu {
  background-color: #343a40;
  border: none;
  box-shadow: none;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #495057;
}

/* Custom Header Styling */
.custom-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem 0;
}

/* Search Form Customizations */
/* Custom Header Styling */
.custom-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem 0;
}

/* Search Form Customizations */
.custom-search-form .form-control {
  border-radius: 0;
  border: 1px solid #ced4da;
}

.custom-search-btn {
  background-color: #f8f9fa;
  border: none;
  color: gray;
}

.custom-search-btn i {
  font-size: 1.25rem;
}

.input-group .form-control {
  border-right: none;
  border-radius: 0;
}

/* Icon Circles */
.custom-icon-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #e9e8e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-icon-circle i {
  font-size: 1.25rem;
  color: #6c757d;
}

/* Header Items */
.custom-header-item .fs-7 {
  font-size: 0.875rem;
  color: #6c757d;
}

.custom-header-item .fs-6 {
  font-size: 1rem;
  color: #000;
}

/* Responsiveness Adjustments */
@media (max-width: 768px) {
  .custom-search-form {
    width: 100%;
  }

  .custom-search-btn {
    padding: 0.4rem 0.8rem;
  }

  .custom-header-item {
    flex-direction: column;
    text-align: center;
  }
}

/* Background Image Styling */
.sale-section,
.bg-image-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.sale-section {
  background-image: url("/tech_web/assets/promotion_banner.png");
}

.bg-image-section {
  background-image: url("/tech_web/assets/blue_bg.png");
}

.custom-bg-image {
  background-image: url("/tech_web/assets/bg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Text Styling */
.text-gradient {
  background: linear-gradient(to right, #ed8183, #e04c44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.custom-red {
  color: #e04c44;
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: #e04c44;
}

/* Image Styling */
.custom-image {
  max-width: 100%;
  height: auto;
}

.custom-row-padding {
  padding-left: 3rem;
  padding-right: 8rem;
}

.nav-column-spacing:first-child {
  margin-left: 0%;
}

.nav-column-spacing:last-child {
  margin-right: 6rem;
}

/* Input Group Styling */

.no-border-radius {
  border-radius: 0 !important;
}

.input-group .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #ced4da;
}

.custom-container {
  margin-top: 1rem;
  max-width: auto;
  margin: 0 auto;
}

.vertical-bar {
  position: relative;
  padding-right: 20px;
}

.vertical-bar:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Custom Button Styles */
.btn-custom-outline {
  border: 2px solid #e04c44;
  color: #e04c44;
  background-color: transparent;
  box-shadow: none;
  border-radius: 1.5rem;
}

.btn-custom-outline:hover {
  background-color: rgba(255, 94, 94, 0.1);
  color: rgba(255, 94, 94, 1);
  border-color: rgba(255, 94, 94, 1);
}

.btn-custom-rec {
  background-color: transparent;
  color: #000;
  border: 1px solid #ccc;
}

.btn-custom-tem {
  background-color: #e04c44;
  border-color: #e04c44;
  color: #fff;
}

.btn-custom-rec:active,
.btn-custom-rec:focus,
.btn-custom-rec:hover {
  background-color: #e04c44;
  color: #fff;
  border-color: #ccc;
}

.btn-red {
  background-color: #e04c44;
  color: white;
  text-decoration: none;
  border-radius: 0%;
}

.btn-red:hover {
  background-color: #c82333; /* Darker red on hover */
  color: #ffffff; /* Keep text color white */
}

.custom-border {
  border: 2px solid #e04c44;
  border-radius: 1px;
}

.custom-discover {
  background-color: #e04c44;
  color: white;
  border: none;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 12 px;
  transition: background-color 0.3s ease;
}

.custom-discover:hover {
  background-color: #e04c44;
}

/* Add to Cart Button */
.btn-cart-custom {
  position: absolute;
  bottom: -15px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.btn-cart-custom i {
  color: #fff;
}

.position-relative {
  position: relative;
}

.btn-add-to-cart {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f9fafe;
  border: 1px solid #596785;
  color: #fff;
  font-size: 1.5rem;
}

.btn-add-to-cart i {
  color: #333;
}

.btn-add-to-cart:hover {
  background-color: #e9e4e4;
}

/* Custom Icon Container for footer */
.custom-icon-container {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #e04c44;
  color: #ffffff;
  font-size: 1.6rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.icon-circle i {
  font-size: 1.1rem;
  color: inherit;
}

.d-flex.align-items-center {
  position: relative;
}

.d-flex.align-items-center .btn {
  border-radius: 50%;
  padding: 10px;
  margin: 0 10px;
}

.d-flex.align-items-center .btn i {
  font-size: 20px;
  color: #333;
}
/* Footer Section */
.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer ul.list-unstyled li {
  margin-bottom: 0.5rem;
}

.footer h5 {
  position: relative;
  padding-bottom: 10px;
}

.footer h5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  border-bottom: 2px solid #e04c44;
}

.country-logo {
  width: 22px;
  height: 22px;
  background-size: cover;
  background-position: center;
  margin-right: 0.5rem;
}

.btn-secondary {
  background-color: transparent;
  border: none;
  padding: 0;
}

.dropdown-menu-dark {
  background-color: #343a40;
  border: none;
}

.text-white {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
}

.separator-line {
  border-bottom: 0.5px solid #fff;
  padding-bottom: 0.1rem;
}

/* Off menu section and nav links */

.offcanvas-header {
  height: 7.5rem;
  position: relative;
  background-color: #6f120e;
}

.offcanvas-header .profile-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-container .profile-icon {
  width: 3.3rem;
  height: 3.3rem;
  background-color: #ff7f7f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}

.profile-container .profile-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-container .profile-text {
  margin-top: 0.9rem;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

/* Off menu section */

.offcanvas-body {
  position: relative;
  padding: 0;
  margin: 0;
}

.offcanvas-body a.nav-link {
  display: block;
  text-transform: uppercase;
  transition: color 0.3s ease;
  padding: 0.75rem 1.3rem;
  color: #000;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.offcanvas-body a.nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f04c4c;
  z-index: -1;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.offcanvas-body a.nav-link:hover::before,
.offcanvas-body a.nav-link:focus::before {
  opacity: 1;
}

.offcanvas-body a.nav-link:active::before {
  opacity: 1;
}

/* Separator Line */
.offcanvas-separator {
  border-top: 1px solid #e0e0e0;
  margin: 1rem 0;
}

/* Dropdown Styling */
.dropdown-menu {
  border: none;
  box-shadow: none;
}

/* Custom style for vertical borders */
.border-left {
  border-left: 1px solid rgb(161, 156, 156);
}

/* Adjusting the spacing for better alignment on large screens */
@media (min-width: 992px) {
  .row.text-center .col-md-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

/* Optional: Specific sizes for each image */
.super-deals-img {
  max-width: 600px;
}

.featured-products-img {
  max-width: 600px;
}

/* countdown timer */
.countdown-timer {
  display: flex;
  align-items: center;
}

.countdown-item {
  text-align: center;
  margin-right: 10px;
}

.countdown-item:last-child {
  margin-right: 0;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f9fafe;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 750;
  opacity: 90%;
  margin-bottom: 0.5rem;
  border: 1px solid #596785;
}

.label {
  font-size: 0.8rem;
  font-weight: 400;
  color: #596785;
}

.fixed-size-sam {
  width: 100%;
  height: 100%;
}

@media (max-width: 767.98px) {
  .fixed-size-img {
    width: 100%;
    height: auto;
  }

  .d-flex.flex-column.flex-md-row {
    flex-direction: column;
  }
}

/* Add transition effect for the entire card */
.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Apply scale effect on hover */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Smooth hover effect for the button */
.btn-cart-custom {
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Button hover effect */
.btn-cart-custom:hover {
  background-color: #ff4d4d;
  transform: scale(1.1);
}

.star-rating {
  color: #ffc107;
}

.text-danger {
  color: #dc3545;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.me-2 {
  margin-right: 0.5rem;
}

/* navigation bar */
#categoriesDropdown {
  background-color: #e84d48;
  color: white;
  border: none;
  height: auto;
  width: auto;
  min-height: 50px;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#categoriesDropdown i {
  color: white;
}

#categoriesDropdown:hover {
  background-color: #e84d48;
  color: white;
  transition: none;
}

#categoriesDropdown {
  border-radius: 0;
}

#categoriesDropdown .dropdown-item {
  color: black;
}

#offcanvasCategoriesDropdown {
  background-color: #e84d48;
  color: white;
  border: none;
  height: auto;
  width: auto;
  min-height: 50px;
  min-width: 150px;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: left;
  border-radius: 0;
  font-size: 1rem;
  padding-left: 14px;
}

#offcanvasCategoriesDropdown i {
  color: white;
}

/* Make sure the background color stays red even when hovered, focused, or active */
#offcanvasCategoriesDropdown:hover,
#offcanvasCategoriesDropdown:focus,
#offcanvasCategoriesDropdown:active {
  background-color: #ff6666;
  color: white;
  border: none;
  outline: none;
}

/* Adjust dropdown items styling */
#offcanvasCategoriesDropdown .dropdown-item {
  color: black;
}

/* Styles for all navigation links */

.nav-link-red-offcanvas {
  text-transform: uppercase;
  padding-left: 1rem;
  transition: color 0.3s ease;
  text-decoration: none;
  color: initial;
}

/* When hovered */
.nav-link-red-offcanvas:hover {
  color: red !important;
  transition: color 0.3s ease;
}

.nav-link-red:hover {
  color: red !important;
  transition: color 0.3s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Basic styles for the color options */
.color-option {
  border: 1px solid #6c757d;
  padding: 1px;
}

.bg-white {
  background-color: #ffffff;
}
.bg-pink {
  background-color: pink;
}
.bg-black {
  background-color: #1e1e1e;
}
.bg-grey {
  background-color: #6c757d;
}
.bg-blue {
  background-color: #bbc9eb;
}
.bg-dark-yellow {
  background-color: #ffcc00;
}
.bg-dark-green {
  background-color: #004d00;
}
.bg-dark-blue {
  background-color: #0101af;
}

.out-of-stock-badge {
  background-color: #e04c44;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 0 0.6rem 0.6rem 0;
  padding: 0.25rem 0.75rem;
  border: 1px solid #e04c44;
  position: absolute;
  top: 97%;
  left: 0;
  z-index: 10;
  font-size: 0.6rem;
  white-space: nowrap;
}

/* Card text price color */
.card-text.text-danger {
  color: #e04c44;
}

.card {
  border-radius: 0;
}

.badge {
  font-size: 0.6rem;
  padding: 0.2rem 0.6rem;
  border-radius: 0;
  position: absolute;
  top: -20px;
  left: 55%;
  transform: translateX(-50%);
  z-index: 100;
  white-space: nowrap;
}

/* Arrow for Speech Bubble */
.badge::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #68b42c;
  z-index: -1;
}

/* Tag Colors */
.badge.bg-hot-green {
  background-color: #68b42c;
}

.badge.bg-hot-green::after {
  border-top: 6px solid #68b42c;
}

/* New Yellow Badge */
.badge.bg-new-yellow {
  background-color: #ffa46c;
}

.badge.bg-new-yellow::after {
  border-top: 6px solid #ffa46c;
}

/* Best Blue Badge */
.badge.bg-best-blue {
  background-color: #08a4bc;
}

.badge.bg-best-blue::after {
  border-top: 6px solid #08a4bc;
}

/* Black Badge */
.badge.bg-black {
  background-color: #000;
}

.badge.bg-black::after {
  border-top: 6px solid #000;
}

/* Container for Icon and Badge */
.icon-container {
  position: relative;
  display: inline-block;
}

/* Notification Badge */
.icon-container {
  position: relative;
  display: inline-block;
}

/* Notification Badge */
.icon-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dc3545;
  color: #fff;
  font-size: 0.65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  z-index: 10;
}

/* Specific Badge Styles for Cart and Wishlist */
.badge-cart {
  background-color: #dc3545;
}

.badge-wishlist {
  background-color: #dc3545;
}

.brand-img {
  width: 290px;
  height: 100px;
  object-fit: contain;
  border: 1px solid #eaeaea;
  padding: 5px;
  transition: border-color 0.3s ease, transform 0.3s ease;
}

.brand-img:hover {
  border-color: grey;
  transform: scale(1.05);
}

.card-title-fe {
  font-weight: 600;
  font-size: 1rem;
}

.custom-card-body {
  padding: 0.3rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

/* Custom CSS to remove margin from card title and danger text */
.custom-card-body .card-title-fe,
.custom-card-body .text-danger {
  margin-bottom: 0;
}

.custom-card-body h5,
.custom-card-body p {
  max-width: 100%;
}

.font-weight-bold {
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .text-danger.font-weight-bold {
    min-height: 48px;
  }
}

@media (max-width: 767px) {
  .text-danger.font-weight-bold {
    min-height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .card-title-fe {
    min-height: 38px;
  }
}

@media (min-width: 480px) and (max-width: 991px) {
  .card-title-fe {
    min-height: 32px;
  }
}

@media (max-width: 479px) {
  .card-title-fe {
    min-height: auto;
  }
}

/* Base Badge Style for Offcanvas */
.offcanvas-badge {
  font-size: 0.6rem;
  padding: 0.2rem 0.6rem;
  border-radius: 0;
  position: relative;
  display: inline-block;
  margin-left: 0.5rem;
  white-space: nowrap;
}

/* Tag Colors for Offcanvas */
.offcanvas-badge.bg-hot-green {
  background-color: #68b42c;
  color: #fff;
}

.offcanvas-badge.bg-new-yellow {
  background-color: #ffa46c;
  color: #fff;
}

.offcanvas-badge.bg-best-blue {
  background-color: #08a4bc;
  color: #fff;
}

.offcanvas-badge.bg-black {
  background-color: #000;
  color: #fff;
}

.offcanvas-header h5 {
  color: white;
}

.offcanvas-header .btn-close {
  filter: invert(1);
}

.offcanvas-header .btn-close i {
  color: white;
}
